*{
    margin: 0;
    
}
nav{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul {
    width: 72%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    list-style-type: none;
  
}
li a{
    font-size: 26px;
   text-decoration: none;
}
ul li{
    font-size: 40px;
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-wrapper{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-text{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
.main-text h1{
    font-size: 55px;
}
.main-text button{
    width: 253px;
    height: 82;
    border: none;
    background-color: #9500FF;
    border-radius: 30px;
    color: white;

}